@import url("https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Alternates|Pacifico&display=swap");

@tailwind base;

@tailwind components;

body {
  @apply bg-orange-100;
  font-family: "Montserrat", sans-serif;
}

.font-family-pacifico {
  font-family: "Pacifico", cursive;
}

.font-family-alternates {
  font-family: "Montserrat Alternates", sans-serif;
}

@tailwind utilities;
